.cnt {
  padding-top: 10px;
}
.container {
  padding-left: 20px;
}
body {
  background-color: rgb(195, 218, 243);
  color: rgb(35, 142, 53);
}
.form_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.form_container button {
  margin-left: 20px;
}
.label {
  padding-right: 10px;
}

ul {
  padding: 20px 20px 20px 0px;
}

.big_box li {
  list-style: none;
  color: rgb(35, 142, 53);
}

.contenedor {
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row;
}

.link {
  padding: 5px;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.link:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.btnA {
  border-radius: 5px;
  cursor: pointer;
  color: rgb(35, 142, 53);
  background-color: rgb(194, 218, 227);
}

.btnA:hover {
  font-weight: bold;
  padding: 3px;
}

@media (max-width: 760px) {
  .contenedor {
    width: 100%;
  }
}

.Buscador {
  color: rgb(35, 142, 53);
  background-color: rgb(194, 218, 227);
  font-weight: bolder;
  border: solid 2px black;
}

.big_box {
  display: grid;
  grid-template-columns: 6fr 1fr;
  background-color: rgb(186, 215, 247);
  border: 1px solid rgb(6,4,101);
  margin-bottom: 2px;
}
/* (206, 203, 203) */
